<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}nintendeals{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="/" class="navbar-left">
                <img src="/img/eshop.png" class='logo'>
            </a>

            <a href="/" class="navbar-brand">nintendeals</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ show_url }}" target="_blank">{{ emoji_star }} Show me my Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ delete_url }}" target="_blank">{{ emoji_warning }} Delete my Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="./faq.html">FAQ</a> -->
                    </li>
                </ul>

                {% block search %}{% endblock %}
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script src="/js/sortable.js"></script>
        <script src="/js/util.js"></script>
    </body>
</html>