{% extends "layout.html" %}


{% block title %}{{system}} : {{flag}} {{country}} {% endblock %}

{% block search %}
    <div class="row no-gutters">
        <div class="col">
            <input
                id="search-input"
                class="form-control border-secondary border-right-0 rounded-0"
                type="search"
                placeholder="Search for games..."
                size="35"
                onkeyup="search('search-input')">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Main -->
    <div class="no-gutter container">
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered sortable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col" class="text-center">Release</th>
                                <th scope="col" class="text-center">Players</th>
                                <th scope="col" class="text-center">Score</th>
                                <th scope="col" class="text-center">{{ emoji_star }}</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            {% for game in games %}
                                <tr>
                                    <td scope="row">{{ '{}{}'.format(' ' + emoji_nintendo if game.published_by_nintendo else '', game.titles[region]) }}</td>
                                    <td align="center">{{ game.release_dates[region] }}</td>
                                    <td align="center">{{ game.players }}</td>
                                    <td align="center">{{ game.scores.score }}</td>
                                    <td align="center">{{ game.wishlisted if game.wishlisted else '-' }}</td>
                                    <td align="center">
                                        <a href="{{ add_url.format(game.id, game.titles[region], country) }}" target="_blank">{{ emoji_plus }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}